# SSH multiplexing
Host *
  ControlMaster auto
  ControlPath ~/.ssh/master-%r@%h:%p

### CAEN
Host caen login.engin.umich.edu
    HostName login.engin.umich.edu
    User unserh
    ControlMaster auto
    ControlPath ~/.ssh/_%r@%h:%p
    ControlPersist 43200
